body {
  margin: 0;
  padding: 0;
  line-height: 22px;
  font-family: "buenos";
}

* {
  box-sizing: border-box;
}

input {
  border: none;
  padding: 0 11px;
}

button {
  cursor: pointer;
}

a,
a:visited,
a:active,
a:link {
  text-decoration: none;
  color: inherit;
}
