body {
  margin: 0;
  padding: 0;
  line-height: 22px;
  letter-spacing: 1px;
  font-family: "buenos";
}
* {
  box-sizing: border-box;
  list-style: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
*:focus {
  outline: none;
}
input {
  list-style: none;
  border: none;
  padding: 0 11px;
}
button {
  cursor: pointer;
}
a,
a:visited,
a:active,
a:link {
  text-decoration: none;
  color: inherit;
}
